<a
  *ngIf="item"
  [routerLink]="item.url"
  [ngClass]="{
    'text-gray-300 hover:bg-gray-700 hover:text-white': !isActive,
    'bg-gray-900 text-white': isActive,
    'group flex items-center px-2 py-2 text-base font-medium rounded-md': true
  }"
>
  <ds-icon
    category="outline"
    [name]="item.icon"
    [svgClass]="{
      'text-gray-400 group-hover:text-gray-300': !isActive,
      'text-gray-300': isActive,
      'mr-4 h-6 w-6': true
    }"
    aria-hidden="true"
  ></ds-icon>
  {{ item.name }}
</a>
