<a
  *ngIf="item"
  [routerLink]="item.url"
  class="group flex items-center px-2 py-2 text-base font-medium rounded-md"
  [ngClass]="{
    'text-gray-300': !isActive,
    'hover:bg-gray-700': !isActive,
    'hover:text-white': !isActive,
    'bg-gray-900': isActive,
    'text-white': isActive,
  }"
>
  <ds-icon
    category="outline"
    [name]="item.icon"
    [svgClass]="{
      'text-gray-400': !isActive,
      'group-hover:text-gray-300': !isActive,
      'text-gray-300': isActive,
      'mr-4': true,
      'h-6': true,
      'w-6': true,
    }"
    aria-hidden="true"
  ></ds-icon>
  {{ item.name }}
</a>
